a {
    color: var(--gray);
}

.remove-default-btn {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.no-txt-deco {
    text-decoration: none;
}

.profile-img-padding {
    padding: 0.3rem;
}

.color-333 {
    color: #333;
}

.post-image {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
}