{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-4">

        <!-- Left side column -->
        <!-- ---------------------------- -->
        <div class="col-sm my-2">
            <!-- Welcome message -->
            <div class="row">
                <div class="border-bottom">
                    <h5>Welcome!</h5>
                    <p>
                        You can start posting immediately your thoughs and images.
                    </p>
                    <p>
                        If you don't follow any other users yet, here's some of first users you can follow
                        now:
                    </p>
                    <p>
                        <a href="https://sgrunt-social.herokuapp.com/core/profile/1">@aleco88</a>
                        <br>
                        <a href="https://sgrunt-social.herokuapp.com/core/profile/5">@grandierissima</a>
                        <br>
                        <a href="https://sgrunt-social.herokuapp.com/core/profile/8">@geppetta</a>
                        <br>
                        <a href="https://sgrunt-social.herokuapp.com/core/profile/7">@pippa</a>
                        <br>
                        <a href="https://sgrunt-social.herokuapp.com/core/profile/6">@pippo</a>
                    </p>
                </div>
            </div>
        </div>


        <!-- Center column with post list -->
        <!-- ---------------------------- -->
        <div class="col-sm-6 mx-4 my-2">
            <!-- Post form Title -->
            <div class="row justify-content-center mt-3">
                <div class="border-bottom">
                    <h5>Add a Post!</h5>
                </div>
            </div>

            <!-- Post text area, with Submit button -->
            <div class="row justify-content-center mt-3 mb-5">
                <div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-success mt-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Post List Title -->
            <div class="row justify-content-center mt-3">
                <div class="border-bottom my-3">
                    <h5>Recent posts from people you follow:</h5>
                </div>
            </div>

            <!-- Iterate post_list variable from the view -->
            {% for post in post_list %}
            <div class="row justify-content-center mt-2">
                <div class="position-relative card bg-light mb-3">
                    <!-- Post Author and timestamp -->
                    <div class="mt-3 mb-3 card-header">
                        <h5 class="card-title">
                            <a class="no-txt-deco" href="{% url 'profile' post.author.profile.pk %}">
                                <img src="{{ post.author.profile.picture.url }}"
                                    class="rounded-circle profile-img-padding" width="50" height="50" />
                                @{{ post.author }}
                            </a>
                        </h5>
                        <h6 class="card-subtitle mt-1"><small>{{ post.created_on }}</small></h6>
                    </div>
                    <!-- Post Image -->
                    {% if post.image %}
                    <a href="{% url 'post-detail' post.pk %}">
                        <img class="card-img-top post-image" src="{{ post.image.url }}" alt="Post image"
                            class="post-image">
                    </a>
                    {% endif %}

                    <!-- Post Body -->
                    <div class="card-body">
                        <div class="position-relative card-text">
                            <p>{{ post.body }}</p>
                            <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                        </div>
                        <!-- Likes / Dislikes counter -->
                        <div class="d-flex flex-row">
                            <form action="{% url 'like' post.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="text-muted remove-default-btn" type="submit">
                                    <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                                </button>
                            </form>
                            <form action="{% url 'dislike' post.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="text-muted remove-default-btn" type="submit">
                                    <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Right side column -->
        <!-- ---------------------------- -->
        <div class="col-sm my-2">
            <!-- Welcome message -->
            <div class="row">
                <div class="border-bottom">
                    <h5>News</h5>
                    <p>
                        Something to discuss with your friends and followers.
                    </p>
                    <iframe src="https://fr.euronews.com/embed/timeline" scrolling="no"
                        style="border:none; min-height:425px; width:100%; height:100%;"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}